/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
  /* height: 105px; */
  padding: 89px 24px 96px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -5px;
}

.header__menu {
  display: flex;
  column-gap: 33.52px;
  line-height: 21.13px;
  list-style-type: circle;
  justify-self: start;
  margin-left: 17px;
  padding-left: 9px;
}

.header__menu-item_active {
  list-style-type: none;
}

.header__logo {
  width: 134px;
  height: 110px;
}

.header__contacts {
  margin-left: 38px;
  justify-self: end;
  margin-right: 63px;
}

/* Cover */

.cover {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  margin-bottom: 179px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  height: 100%;
}

/* Cover__title */

.cover__title {
  padding: 165px 50px 127px;
  font-weight: 700;
  font-size: 100px;
}

.cover__title-span {
  display: block;
}

.text-center {
  padding-top: 10px;
  padding-bottom: 2px;
  text-align: center;
}

.text-right {
  text-align: right;
}

.letter-spacing-mid {
  letter-spacing: 0.3em;
}

.letter-spacing-long {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.letter-spacing-small {
  letter-spacing: 0.01em;
}

.cover__btn {
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
  line-height: 25.83px;
}

/* Cover__description */

.cover__description {
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-right: 50px;
  padding-bottom: 51px;
}

.cover__description-text {
  padding: 0px 78px;
  font-weight: 400;
  line-height: 28px;
  font-size: 22px;
  word-spacing: 0.75em;
}

.cover__description-btn {
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
}

/*  */

.lots {
  padding: 0 24px;
  margin-bottom: 146px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.lots__card-list {
  display: flex;
  list-style-type: none;
  column-gap: 25px;
  color: #ffffff;
}

.card {
  width: 334px;
  height: 563px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.card h3 {
  padding: 51px 40px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card p {
  position: absolute;
  bottom: 0px;
  padding: 0 40px 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card-first {
  background-image: url('/images/card-lot-01.jpg');
}
.card-second {
  background-image: url('/images/card-lot-02.jpg');
}
.card-third {
  background-image: url('/images/card-lot-03.jpg');
}

.lots__info {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding: 36px 24px 0;
  margin-bottom: 180px;
}

.about__circle {
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo {
  margin-top: 63px;
  max-width: 148px;
  margin-left: 46px;
}

.about__info-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  padding: 101px 0 76px;
}

.about__info-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  /* letter-spacing: 0.01m; */
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 88px;
}

.menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  column-gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.contact {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.contact_italic {
  font-style: italic;
}
